.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App {
  text-align: center;
}

.container {
  border: 1px solid #282c34;
  border-radius: 10px;
  margin: 4% auto;
  max-width: 90%;
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around; 
  font-size: calc(10px + 2vmin);
  color: #071cb9;
}

.container_form {
  background-color: #eaecf0;
  border: #071cb9 1px solid;
  border-radius: 10px;
  margin: 2%;
  max-width: 800px;
  min-height: 75vh;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(9px + 2vmin);
  color: #071cb9;
}

.container_form2 {
  background-color: #f1f6d5;
  border: #30a406 2px solid;
  border-radius: 10px;
  margin: 2%;
  max-width: 800px;
  min-height: 75vh;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(9px + 2vmin);
  color: #071cb9;
}

.container_result {
  align-items: center;
  justify-content: center;
  font-size: calc(7px + 2vmin);
  color: #071cb9;
}

.container_print {
  background-color: #aeb0b4;
  border: #071cb9 1px solid;
  border-radius: 10px;
  padding: 0;
  max-width: 800px;
  min-height: 76vh;
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #071cb9;
}

.lista_p{
  font-size: 1.2rem;
  margin: 5px;
}

.lista_pl{
  font-size: 1rem;
  margin: 5px;
}

.idade{
  font-size: 1rem;
  font-weight: bold;
}

.error-message {
  color: #b9073c;
  font-size: 1rem;

}

