.navbar {
    background-color: #3054f3;
    overflow: hidden;
    text-decoration: none;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background-color: #f7f7f7;
    color: black;
  }


  